# Core functionality - changes here should be rare!
/src/app.py                   @Kushal405
/src/backend/database.py      @Kushal405
/src/backend/routers/auth.py  @Kushal405

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Kushal405
